<div class="card h-100" *ngIf="movie">
  <!-- Product image-->
  <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="..." />
  <!-- Product details-->
  <div class="card-body p-4">
    <div class="text-center">
      <!-- Product name-->
      <h5 class="fw-bolder">{{movie.title}}</h5>
    </div>
  </div>
  <!-- Product actions-->
  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/detail/{{movie.id}}">See more</a></div>
  </div>
</div>
